<html xmlns="http://www.w3.org/1999/xhtml">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <title>
        {{ title }}
    </title>
    <link rel="stylesheet" href="/static/css/typo.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/jquery-1.9.1.min.js" type="text/javascript">
    </script>
    <style>
        body{background: url(http://ww1.sinaimg.cn/large/70437d4ejw1e27wvwjgy3j.jpg);}
    </style>
    <header>
        <nav class="navbar navbar-static-top">
            <div class="navbar-inner">
                <a href="/" class="brand"><img src="/static/img/{{ value|random }}.png" alt="豆伴"></a>
                <img src="/static/img/douban.png" alt="">
            </div>
        </nav>
    </header>
    {% block content %}{% endblock %}
    <footer>
    </footer>

</html>