{% extends "base.html" %} {% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span10 offset1">
            <div class="span10 offset1">
                {% for user in userdetail %} {% if user.user_name %}
                <div class="span12" id="user_say">
                    <div class="span10 offset1">
                    {{user.want_say|escape|linebreaks}}
                    <hr />
                    <div class="row-fluid">
                        <div id="author" class="span2 offset10 text-center">
                            <a href="http://www.douban.com/people/{{user.uid}}/"><img src="http://img3.douban.com/icon/u{{user.uid}}.jpg" alt="{{user.user_name}}"></a>
                            <br />
                            <a href="http://www.douban.com/people/{{user.uid}}/">{{user.user_name}}</a>
                        </div>
                    </div>
                    </div>
                </div>
                {% endif %} {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}