{% extends "base.html" %} {% block content %}
<div class="context">
    {% for user in userdetail %} {% if user.user_name %}
    <article class="home-page">
        {{user.want_say|escape|linebreaks}}
        <hr /><div class="author">
        <a href="http://www.douban.com/people/{{user.uid}}/"><img src="http://img3.douban.com/icon/u{{user.uid}}.jpg" alt="{{user.user_name}}"></a>
        <br />
        <b>
            <a href="http://www.douban.com/people/{{user.uid}}/">{{user.user_name}}</a>
        </b></div>
    </article>
    {% endif %} {% endfor %}
    <div class="sidebar">
        {% if user.is_authenticated %}
        <div class="reg">
            <a href="/reg">注册</a>
        </div>
        <div class="logout">
            <a href="/logout">登出</a>
        </div>
        {% else %}
        <div class="login">
            登入:
            <a href=" {% url socialauth_begin 'douban2' %}"><img src="http://img3.douban.com/pics/douban-icons/favicon_24x24.png" alt=""></a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}